In [ ]:
import numpy as np
import pandas as pd
data=pd.read_csv('/content/Standard Metropolitan Areas Dataset.csv')

In [ ]:
data.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB

In [ ]:
X=data[['land_area', 'percent_city', 'percent_senior', 'physicians', 'hospital_beds', 'graduates', 'work_force', 'income', 'region']]
Y=data[['crime_rate']]

In [ ]:
X.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4

In [ ]:
Y.head()

   crime_rate
0       75.55
1       56.03
2       41.32
3       67.38
4       80.19

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2)

In [ ]:
X_train.shape

(79, 9)

In [ ]:
Y_train.shape

(79, 1)

In [ ]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(X_train,Y_train)

LinearRegression()

In [ ]:
predictions=regression.predict(X_test)

In [ ]:
predictions

array([[44.01659864],
       [51.98498137],
       [60.21215952],
       [49.90335982],
       [66.97284607],
       [67.28174168],
       [55.45664629],
       [56.29613907],
       [40.88277542],
       [54.20180543],
       [57.53035436],
       [71.48073867],
       [61.7152801 ],
       [58.44104852],
       [57.57775532],
       [53.5358545 ],
       [41.67422368],
       [69.60769377],
       [71.820394  ],
       [55.85401639]])

In [ ]:
regression.score(X,Y)

0.4948529594022001

In [ ]:
data_new={'land_area': 2345, 'percent_city': 69, 'percent_senior':10.0, 'physicians': 1200, 'hospital_beds': 12456, 'graduates': 46, 'work_force':  1120.23, 'income': 120245, 'region': 4}

In [ ]:
index=[1]
my_data=pd.DataFrame(data_new, index)

In [ ]:
my_data

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region
1,2345,69,10.0,1200,12456,46,1120.23,120245,4

In [ ]:
new_predictions=regression.predict(my_data)

In [ ]:
print("The Predicted crime rate is", new_predictions)

The Predicted crime rate is [[217.44004002]]